body {
  max-width: 48rem;
  margin: 0 auto;
  padding: 1rem;
  font-family: sans-serif;
  color: #c0c0c0;
  background: #202020;
}

header {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
  font-weight: 100;
} h1 {
  font-size: 2rem;
} h2 {
  font-size: 1.5rem;
}

table {
  width: max-content;
  border-collapse: collapse;
} td {
  padding-bottom: 0.25rem;
  vertical-align: top;
} td:first-child {
  width: 8rem;
  padding-right: 1rem;
}

main {
  display: flex;
  flex-direction: column;
}

details {
  text-wrap: balance;
  width: 100%;
  max-width: 32rem;
  padding: 0 0 1rem 1rem;
} details > table {
  display: block;
  max-width: 100%;
} summary {
  width: 100%;
  list-style: none;
  position: relative;
  left: -1rem;
  cursor: pointer;
  padding-left: 1rem;
} summary:before {
  content: '‣';
  position: absolute;
  left: 0;
  font-weight: 900;
  transition: transform 0.2s ease;
} details[open] summary:before {
  transform: rotate(90deg);
}

a {
  color: #a0a0f0;
  text-decoration: underline;
  text-decoration-color: transparent;
} a:hover, a:focus {
  text-decoration-color: currentColor;
} a::before {
  content: '↗ ';
}

.red      { color: #f0a0a0 }
.yellow   { color: #f0f0a0 }
.green    { color: #a0f0a0 }
.cyan     { color: #a0f0f0 }
.blue     { color: #a0a0f0 }
.magenta  { color: #f0a0f0 }
.grey     { color: #a0a0a0 }
.darkgrey { color: #808080 }