.navbar {
  overflow: hidden;
  background-color: #0f9;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #ff02f0;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 17px;
  font-family: "comic sans ms"
}

.navbar a:hover {
  background: #710;
  color: red;
}

h2 {
	color: #00ff00;
	margin-left: 40px;
	font-family:"Comic sans MS"


}

body {
	color: #FF00FF;
	margin-left: 40px;
	font-family:"Papyrus"


}
@keyframes bgcolor {
    0% {
        background-color: #FF0000
    }

    30% {
        background-color: #0000FF
    }

    60% {
        background-color: #00ff00
    }

    90% {
        background-color: #ff00ff
    }

    100% {
        background-color: #fff000
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
