body, h1,h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif;
}
body, html {
	height: 100%;
	line-height: 1.6;
}
#myNavbar,#navDemo {
  background-color: #ffffff64;
  backdrop-filter: blur(2.5px);
}
#myNavbar a,#navDemo a {
  background-color: #ffffff00;
  backdrop-filter: blur(0px);
}
.bars-hover:hover{
  color: #fff !important;
  background-color: #0032a8 !important;
}
		
.bgimg-1, .bgimg-2, .bgimg-3 {
	background-color: #ffffff;
}
.bgimg-1{
	min-height: 100%;
}
.bgimg-2, .bg-img-3 {
	min-height: 400px;
}
.quote, .pack{
  border-style: solid;
	border-color: #0032a8;
	white-space: normal;
}
		
.w3-wide{letter-spacing: 6px;}
@media only screen and (max-device-width: 1600px){
	.bgimg-1, .bgimg-2, .bgimg-3{
		background-attachment: scroll;
		min-height: 400px;
	}
}
