/*  Colours: 
    - DarkBlue: #0032a8[ff];
    - LightBlue: #004cff[ff];
    - LightestBlue: #80a8ff[ff];
    - White: #fff[ff];
*/

body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  line-height: 1.667em;
}

.wide{ letter-spacing: 8px; }

header {
  background: linear-gradient(#004cff calc(1em + 24px), #0032a8 100%);
  color: #ffffff;
  height: 80vh;
  min-height: 20em;
} header .shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 512px;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  fill: #ffffff;
} header .shape-divider svg {
  height: 4em;
  width: 100%;
} header > div {
  display: flex;
  flex-direction: column;
} span[title] {
  align-self: center;
} span[greeting] {
  padding-top: 1em;
  display: flex;
  justify-content: space-evenly;
} span[greeting] > span {
  min-width: 4em;
  width: 100%;
  margin: auto 1em;
  height: 1px;
}
span[greeting] > span:first-child { background: linear-gradient(to left, #ffff, #fff0); }
span[greeting] > span:last-child { background: linear-gradient(to right, #ffff, #fff0); }

div[nav] {
  background-color: #004cff;
  color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}
nav {
  width: 100vw;
  min-width: calc(100vw - 8px);
  overflow: hidden;
  padding: 0 calc(50vw - 490px - 8px);
  margin: 4px;
} nav > a {
  margin: 6px 8px;
  padding: 2px 8px;
  display: inline-block;
  text-decoration: none;
} nav > a.here {
  /* Underline styles - details of technique here:
   * https://nickymeuleman.netlify.app/blog/css-animated-wrapping-underline
   */
  background: 
    linear-gradient(to right, #80a8ff, #004cff),
    linear-gradient(to left, #fff, #80a8ff);
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size .8s;
} nav > a.here:hover, nav > a.here:focus {
  background-size: 0 1px, 100% 1px;
}

div[quotes], div[pack] {
  position: relative;
  background-color: #fff;
} div[quotes]:before, div[pack]:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: -4px;
  background: #004cff;
}

div[bar] { background: #004cff; }

footer {
  background: radial-gradient(circle at 50% 100%, #004cff 0%, #003FD4 33.333%, #0032a8 100%);
  color: #ffffff;
}
