* {
  cursor: url(https://magnogen.github.io/src/cursor.png), auto;
}
body {
  margin: 0;
  height: 100vh;
  background-color: #0032a8;
  font-family: Verdana, sans-serif;
  color: #ffffff;
}
.page {
  margin: 0;
  height: 100vh;
  width: 90vw;
  background-color: #ffffff;
  font-family: Verdana, sans-serif;
  color: #000000;
  padding: 0% 10% 0% 10%;
  margin: 0 auto;
  text-align: center;
}

a:link {
    color: #000000;
}
a:visited {
    color: #000064;
}
a:active {
    color: #000064;
}

body>div>ul {
  list-style-type: none;
  margin: 0 0 0 0.5em;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  /* position: fixed; top: 0; */
  width: 100%;
}
body>div>ul > li { float: left; }
body>div>ul > li a, ul.sub_menu>li>a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body>div>ul > li a:hover:not(.active),
    ul.sub_menu>li>a:hover:not(.active) {
  background-color: #111111;
}

/* Education page styles: */
.sub {
  color: #000064;
  font-weight: bold;
  padding: 0 0 0.5em 0;
}
h2.title {
  color: #0000a8;
}

.num, .num-brackets {
  display: inline-block;
  margin: 2px 2px 2px 5%;
  padding: 4px 8px;
  color: #222222;
  background-color: #eeeeee;
  font-family: Consolas;
}
.num-brackets {
  padding: 2px !important;
}
