* {
  cursor: url(http://magnogen.github.io/src/cursor.png), auto;
}
body {
  margin: 0;
}
body>div>ul {
  list-style-type: none;
  margin: 0 0 0 0.5em;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  /* position: fixed; top: 0; */
  width: 100%;
}
body>div>ul > li { float: left; }
body>div>ul > li a,
    ul.sub_menu>li>a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
body>div>ul > li a:hover:not(.active),
    ul.sub_menu>li>a:hover:not(.active) {
  background-color: #111111;
}
.active {
  background-color: #0033cc;
}
/* Education page styles: */
.sub {
  padding-bottom: 0.5em;
  color: #00dfff;
  font-weight: bold;
}
.num, .num-brackets {
  display: inline-block;
  margin: 2px 2px 2px 5%;
  padding: 4px 8px;
  color: #222222;
  background-color: #eeeeee;
  font-family: Consolas;
}
.num-brackets {
  padding: 2px !important;
}
